---
import Layout from "../../layouts/Layout.astro"
---


<Layout title="Aire">
    <div class="projectContainer">
        <div class="projectBody">
            <div class="projectMain">
                <h1>From onboarding to automation.
                    A seamless user journey.</h1>
                <p>Correlated</p>
            </div>
            <div class="image1Container">
                <img src="https://framerusercontent.com/images/QVKFKT3dyGxloXfzzpurVKNMM6M.jpg?scale-down-to=2048" alt="Correlated"/>
            </div>
            <div class="tags">
                <div class="tagBody">
                    <p class="tagTitle">Client</p>
                    <p class="tagText">Correlated</p>
                </div>
                <div class="tagBody">
                    <p class="tagTitle">Studio</p>
                    <p class="tagText">Friendly Studio</p>
                </div>
                <div class="tagBody">
                    <p class="tagTitle">Role</p>
                    <p class="tagText">Lead Designer</p>
                </div>
                <div class="tagBody">
                    <p class="tagTitle">focus</p>
                    <p class="tagText">Product Design</p>
                </div>
            </div>
            <div class="sectionImage1">
                <img src="https://framerusercontent.com/images/68Iqel3D27Y4JufI8Uy5OvefWbc.jpg?scale-down-to=2048"/>
            </div>
            <div class="overview">
                <p class="text1">Overview</p>
                <p class="text2">
                    I helped the Correlated team improve functionality across their platform and develop a series of new features, all backed up by a robust and distinct design system.
                </p>
            </div>
            <div class="sectionImage2">
                <div class="folder1">
                    <img class="image2" src="https://framerusercontent.com/images/1p2fh6pUhyWU5wo0HuUhGBfq0.jpg"/>
                    <img class="image3" src="https://framerusercontent.com/images/vbrM0VmAH5DTwyk1LqtQmxL51s.jpg"/>
                </div>
                <div class="sectionImage1">
                    <img src="https://framerusercontent.com/images/tN8jTohPTXn5uQRpJxyX92NH4MI.jpg?scale-down-to=2048"/>
                </div>
                <div class="sectionImage1">
                    <img src="https://framerusercontent.com/images/eEacfQIEXZe97VYUR5elLz6s4.jpg?scale-down-to=2048"/>
                </div>
                <div class="folder1">
                    <img class="image2" src="https://framerusercontent.com/images/0nNRgAlDOtkHlL9Zy0g89qxnVBw.jpg"/>
                    <img class="image3" src="https://framerusercontent.com/images/thOwwRtQEmgMsCmiIA6Pz32uHM.jpg"/>
                </div>
                <div class="sectionImage1">
                    <img src="https://framerusercontent.com/images/lFrqFqQHwbgjUIEdNoDqx0ByQbA.jpg?scale-down-to=2048"/>
                </div>
                <div class="folder1">
                    <img class="image2" src="https://framerusercontent.com/images/As3sZJW3p7ZozhuXUdkNipZNg.jpg"/>
                    <img class="image3" src="https://framerusercontent.com/images/cWbxOdQuIb89b5L55hjKxdF7Jhw.jpg"/>
                </div>
                <div class="sectionImage1">
                    <img src="https://framerusercontent.com/images/7FjwLrD1PXJxWNaJnIs1otLhFI.jpg?scale-down-to=2048"/>
                </div>
                <div class="folder1">
                    <img class="image2" src="https://framerusercontent.com/images/QrI9yPy4AnRCf2rL3ZPEXaqeD2A.jpg"/>
                    <img class="image3" src="https://framerusercontent.com/images/aiUDhsoiJ5PXdrBkmKQaCCyt8NE.jpg"/>
                </div>
            </div>
            <div class="contact">
                <h2>Let's work together.</h2>
                <a href="https://new-portfolio-eight-rust.vercel.app/">Get in touch</a>
            </div>
        </div>
    </div>
</Layout>



<style>
    .projectContainer{
        max-width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .projectBody{
        max-width: 85%;
        height: auto;
    }

    .projectMain{
        margin-top: 100px;
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projectMain > h1 {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 82px;
        font-weight: normal;
    }

    .projectMain > p {
        margin-top: 30px;
        background-color: #e8e5e480;
        padding: 7px 12px;
        border-radius: 30px;
    }

    .image1Container{
        max-width: 100%;
        height: auto;
    }

    .image1Container > img {
        width: 100%;
    }

    .tags{
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .tagTitle{
        font-size: 1rem;
        color: #7f7f7f;
    }

    .tagText{
        font-size: 1rem;
        margin-top: 10px;
    }

    .sectionImage1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sectionImage1 > img {
        width: 100%;
        border-radius: 12px;
    }

    .overview{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text1{
        color: #7f7f7f;
        margin: 10px 0;
    }

    .text2{
        width: 40%;
        text-align:justify;
    }

    .sectionImage2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image1{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .folder1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .image2{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image3{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image4{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image5{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image6{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image7{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .folder2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .image8{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image9{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .contact{
		height: 250px;
		max-width: 100vw;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contact > h2{
		font-size: 2.3rem;
		font-weight: bolder;
	}

	.contact > a{
		color: #7f7f7f;
		opacity: 0.9;
		font-size: 2.2rem;
		text-decoration: none;
		font-weight: bolder;
		margin-top: 10px;
		transition: opacity 0.3s ease-out;
	}

	.contact > a:hover {
		opacity: 0.5;
	}

    @media only screen and (max-width: 480px) {
        .projectBody {
      max-width: 100%;
      height: auto;
      padding: 0 1rem;
    }

    .projectMain > h1 {
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 2.7rem;
      font-weight: normal;
    }

    .projectMain > p {
      margin-top: 30px;
      background-color: #e8e5e480;
      padding: 7px 12px;
      border-radius: 30px;
    }

    .tags > {
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 10px;
      align-items: center;
      flex-wrap: wrap;
    }

    .tagTitle {
      font-size: 0.8rem;
      color: #7f7f7f;
    }

    .tagText {
      font-size: 0.8rem;
      margin-top: 10px;
    }





    .image1Container{
        max-width: 100%;
        height: auto;
    }

    .image1Container > img {
        width: 100%;
    }

    .overview {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      line-height: 1.3;
      margin: 12px 0;
    }

    .text1 {
      color: #7f7f7f;
      margin: 20px 0;
    }

    .text2 {
      width: 100%;
      text-align: justify;
    }

    .contact {
      height: auto;
      max-width: auto;
      margin-top: 23px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contact > h2 {
      text-align: center;
    }



    .sectionImage1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sectionImage1 > img {
        width: 100%;
        border-radius: 12px;
    }

    .sectionImage2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image1{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .folder1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .image2{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image3{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image4{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image5{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image6{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image7{
        width: 100%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .folder2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .image8{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .image9{
        width: 49%;
        border-radius: 12px;
        margin: 10px 0;
    }

    .contact{
		height: 250px;
		max-width: 100vw;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contact > h2{
		font-size: 2.3rem;
		font-weight: bolder;
	}

	.contact > a{
		color: #7f7f7f;
		opacity: 0.9;
		font-size: 2.2rem;
		text-decoration: none;
		font-weight: bolder;
		margin-top: 10px;
		transition: opacity 0.3s ease-out;
	}

	.contact > a:hover {
		opacity: 0.5;
	}   
    }


</style>