---
---

<div class="footer">
    <div class="name">
        <p>
            © Oli Harris 2023
        </p>
    </div>
    <ul class="social">
        <li>Twiitter</li>
        <li>Linkedin</li>
        <li>Mail</li>
    </ul>
</div>


<style>

    .footer{
        max-width: 100vw;
        height: 100px;
        padding: 0 3rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .social > li{
        margin: 0 5px;
    }

    @media only screen and (max-width: 480px) {
        .footer{
        max-width: 100vw;
        height: 100px;
        padding: 0 1rem;
    }

    .social{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .social > li{
        margin: 0 5px;
    }   
    }

</style>