---
interface ViewProps  {
    title: string;
    videoURL: string;
}

const {title,videoURL} = Astro.props as ViewProps;
---



<a class="viewBox" href={`/projects/${title}`}>
    <video autoplay muted loop src={videoURL}/>
    <div class="overlay">
        <p>{title}</p>
       <span class="iconBox">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-10 10" /><path d="M8 7l9 0l0 9" /></svg>
       </span>
    </div>
</a>


<style>
    .viewBox{
        width: 642px;
        height: 491px;
        position: relative;
        border-radius: 10px;
    }

    .viewBox > video{
        height: 100% !important;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(15px);
        padding: 1.3rem 1.6rem;
        color: #ffffff;
        font-size: 1.1rem;
        transition: all ease-out 0.3s;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .overlay:hover {
        opacity: 1;
    }

    .icon{
        color: #000000;
        height: 20px;
    }

    .iconBox{
        background-color: #ffffff;
        height: 45px;
        width: 45px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-20px, 20px);
        transition: all ease-out 0.3s;
    }

    .overlay:hover .iconBox{
        transform: translate(0,0);
    }

    @media only screen and (max-width: 480px) {
        .viewBox{
        width:  300px;
        height: auto;
        position: relative;
        border-radius: 10px;
    }
}

    


</style>